<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Examen</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button[type="submit"],
    button[type="reset"] {
        width: 100%;
        padding: 10px 0;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    button[type="reset"] {
        background-color: #dc3545;
    }
    button[type="submit"]:hover,
    button[type="reset"]:hover {
        background-color: #0056b3;
    }
</style>
</head>
<body>
    <div class="container">
        <h2 class="mt-5 mb-4">Formulario de Pago</h2>
        <form action="/Recibo" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="num_docente">Núm. Docente:</label>
                <input type="number" id="num_docente" name="num_docente" required>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" required>
            </div>

            <div class="form-group">
                <label for="nivel">Nivel:</label>
                <select id="nivel" name="nivel" required>
                    <option value="0">Seleccione el nivel</option>
                    <option value="1">Licenciatura o Ingeniería</option>
                    <option value="2">Maestro en Ciencias</option>
                    <option value="3">Doctor</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pago_base">Pago base por hora impartida:</label>
                <input type="number" id="pago_base" name="pago_base" required>
            </div>

            <div class="form-group">
                <label for="horas_impartidas">Horas impartidas:</label>
                <input type="number" id="horas_impartidas" name="horas_impartidas" required>
            </div>

            <div class="form-group">
                <label for="cantidad_hijos">Cantidad de hijos</label>
                <select id="cantidad_hijos" name="cantidad_hijos" required>
                    <option value="0">Seleccione el número de hijos</option>
                    <option value="1">0 hijos</option>
                    <option value="2">1 a 2 hijos</option>
                    <option value="3">3 a 5 hijos</option>
                    <option value="4">Más de 5 hijos</option>
                </select>
            </div>

            <button type="submit">Enviar</button>
            <button type="reset">Limpiar</button>
        </form>
    </div>
</body>
</html>
<script>
    function calcularPago() {
        const num_docente = document.getElementById('num_docente');
        const pago_base = document.getElementById('pago_base');
        const horas_impartidas = document.getElementById('horas_impartidas');
        const nivel = document.getElementById('nivel');
        const cantidad_hijos = document.getElementById('cantidad_hijos');

        if (num_docente.value <= 0) {
            alert("El número del docente tiene que ser válido.");
            return false;
        }
        else if (pago_base.value < 0) {
            alert("Pago base NO puede ser menor a 0.");
            return false;
        }
        else if (horas_impartidas.value < 0) {
            alert("Horas impartidas NO pueden ser menor a 0.");
            return false;
        }
        else if (Number(nivel.value) === 0) {
            alert("Seleccione su nivel de educación, por favor.");
            return false;
        }
        else if (Number(cantidad_hijos.value) === 0) {
            alert("Seleccione la cantidad de hijos que tiene, por favor.");
            return false;
        }
        return true;
    }
</script>
