<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Pago</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <% 
    // Convertir los valores a números
    const nivelNum = parseInt(nivel);
    const cantidadHijosNum = parseInt(cantidad_hijos);
    const pagoBaseNum = parseFloat(pago_base);
    const horasImpartidasNum = parseInt(horas_impartidas);
    
    const porcentaje_incrementado_pago_base = nivelNum === 0 ? 0 :
                                              nivelNum === 1 ? 0.30 :
                                              nivelNum === 2 ? 0.50 :
                                              nivelNum === 3 ? 1 : 0;

    const pago_base_mas_nivel = pagoBaseNum + (pagoBaseNum * porcentaje_incrementado_pago_base);

    const pago_total = (pago_base_mas_nivel * horasImpartidasNum);
    const impuestos = (pago_total * 0.16);

    const bono_porcentaje = cantidadHijosNum === 4 ? 0.20 :
                            cantidadHijosNum === 3 ? 0.10 :
                            cantidadHijosNum === 2 ? 0.05 : 0;
    const bono = (pago_total * bono_porcentaje);

    const total = pago_total - impuestos + bono;
    %>
    <div class="container mt-5">
        <h2>Detalles de Pago</h2>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Pago por horas impartidas:</th>
                    <td><%= pago_total %></td>
                </tr>
                <tr>
                    <th scope="row">Bonos:</th>
                    <td><%= bono %></td>
                </tr>
                <tr>
                    <th scope="row">Impuestos:</th>
                    <td><%= impuestos %></td>
                </tr>
                <tr>
                    <th scope="row">Total a pagar:</th>
                    <td><%= total %></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
